name: fullstack-dev

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend-container
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules  # <--- this line keeps node_modules inside container
    depends_on:
      - mongodb
      - redis
    networks:
      - dev-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend-container
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules  # <--- this line keeps node_modules inside container
    depends_on:
      - backend
    networks:
      - dev-net

  mongodb:
    image: mongo:latest
    container_name: mongodb-container
    restart: always
    ports:
      - "27018:27017"  
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoUser
      - MONGO_INITDB_ROOT_PASSWORD=mongoPass
    networks:
      - dev-net

  redis:
    image: redis:latest
    container_name: redis-container
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - dev-net

volumes:
  mongo-data:
  redis-data:

networks:
  dev-net:
